<!DOCTYPE html>
<html lang="en">

<%- include('partials/head')%>

  <body>

    <!-- Header -->
    <%- include('partials/header') %>

      <!-- Main -->
      <main>
        <section class="formulario" style="padding-top: 80px;">
          <form method="POST" action="/create" enctype="multipart/form-data">
            <label>imagenes</label>
            <input type="file" name="imagenes" multiple><br>
            <% if (locals.errors && errors.imagenes) { %>
              <p style="color: red;">
                <%= errors.imagenes.msg %>
              </p>
              <% } %>

                <label>Nombre</label>
                <input type="text" name="nombre"
                  value="<%= locals.oldBody && oldBody.nombre? oldBody.nombre: "" %>"><br>
                <% if (locals.errors && errors.nombre) { %>
                  <p style="color: red;">
                    <%= errors.nombre.msg %>
                  </p>
                  <% } %>

                    <label>Tipo</label>
                    <input type="text" name="tipo" value="<%= locals.oldBody && oldBody.tipo? oldBody.tipo: "" %>"><br>
                    <% if (locals.errors && errors.tipo) { %>
                      <p style="color: red;">
                        <%= errors.tipo.msg %>
                      </p>
                      <% } %>

                        <label>Modelo</label>
                        <input type="text" name="modelo"
                          value="<%= locals.oldBody && oldBody.modelo? oldBody.modelo: "" %>"><br>
                        <% if (locals.errors && errors.modelo) { %>
                          <p style="color: red;">
                            <%= errors.modelo.msg %>
                          </p>
                          <% } %>

                            <label>Referencia</label>
                            <input type="text" name="referencia"
                              value="<%= locals.oldBody && oldBody.referencia? oldBody.referencia: "" %>"><br>
                            <% if (locals.errors && errors.referencia) { %>
                              <p style="color: red;">
                                <%= errors.referencia.msg %>
                              </p>
                              <% } %>

                                <label>Valor</label>
                                <input type="text" name="valor"
                                  value="<%= locals.oldBody && oldBody.valor? oldBody.valor: "" %>"><br>
                                <% if (locals.errors && errors.valor) { %>
                                  <p style="color: red;">
                                    <%= errors.valor.msg %>
                                  </p>
                                  <% } %>

                                    <label>Descuento</label>
                                    <input type="text" name="descuento"
                                      value="<%= locals.oldBody && oldBody.descuento? oldBody.descuento: "" %>"><br>
                                    <% if (locals.errors && errors.descuento) { %>
                                      <p style="color: red;">
                                        <%= errors.descuento.msg %>
                                      </p>
                                      <% } %>

                                        <label>Talla</label>
                                        <select name="talla">
                                          <option value="XS">XS</option>
                                          <option value="S">S</option>
                                          <option value="M">M</option>
                                          <option value="L">L</option>
                                          <option value="XL">XL</option>
                                        </select><br>
                                        <label>Descripci贸n</label>
                                        <textarea name="descripcion"
                                          value="<%= locals.oldBody && oldBody.descripcion? oldBody.descripcion: "" %></textarea>"></textarea><br>
                                        <% if (locals.errors && errors.descripcion) { %>
                                          <p style="color: red;">
                                            <%= errors.descripcion.msg %>
                                          </p>
                                          <% } %>

                                            <label>Especificaciones</label>
                                            <ul>
                                              <li>Nombre: <input type="text" name="esp_nombre"
                                                  value="<%= locals.oldBody && oldBody.esp_nombre? oldBody.esp_nombre: "" %>">
                                                <% if (locals.errors && errors.esp_nombre) { %>
                                                  <p style="color: red;">
                                                    <%= errors.esp_nombre.msg %>
                                                  </p>
                                                  <% } %>
                                              </li>
                                              <li>Descripci贸n: <input type="text" name="esp_descripcion"
                                                  value="<%= locals.oldBody && oldBody.esp_descripcion? oldBody.esp_descripcion: "" %>">
                                                <% if (locals.errors && errors.esp_descripcion) { %>
                                                  <p style="color: red;">
                                                    <%= errors.esp_descripcion.msg %>
                                                  </p>
                                                  <% } %>
                                              </li>
                                              <li>Nombre: <input type="text" name="esp_nombre2"
                                                  value="<%= locals.oldBody && oldBody.esp_nombre2? oldBody.esp_nombre2: "" %>">
                                                <% if (locals.errors && errors.esp_nombre2) { %>
                                                  <p style="color: red;">
                                                    <%= errors.esp_nombre2.msg %>
                                                  </p>
                                                  <% } %>
                                              </li>
                                              <li>Descripci贸n: <input type="text" name="esp_descripcion2"
                                                  value="<%= locals.oldBody && oldBody.esp_descripcion2? oldBody.esp_descripcion2: "" %>">
                                                <% if (locals.errors && errors.esp_descripcion2) { %>
                                                  <p style="color: red;">
                                                    <%= errors.esp_descripcion2.msg %>
                                                  </p>
                                                  <% } %>
                                              </li>
                                              <li>Nombre: <input type="text" name="esp_nombre3"
                                                  value="<%= locals.oldBody && oldBody.esp_nombre3? oldBody.esp_nombre3: "" %>">
                                                <% if (locals.errors && errors.esp_nombre3) { %>
                                                  <p style="color: red;">
                                                    <%= errors.esp_nombre3.msg %>
                                                  </p>
                                                  <% } %>
                                              </li>
                                              <li>Descripci贸n: <input type="text" name="esp_descripcion3"
                                                  value="<%= locals.oldBody && oldBody.esp_descripcion3? oldBody.esp_descripcion3: "" %>">
                                                <% if (locals.errors && errors.esp_descripcion3) { %>
                                                  <p style="color: red;">
                                                    <%= errors.esp_descripcion3.msg %>
                                                  </p>
                                                  <% } %>
                                              </li>


                                            </ul>

                                            <input type="submit" value="Enviar">
          </form>
        </section>
      </main>
      <!-- footer -->
      <%- include('partials/footer') %>

  </body>

</html>