<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>


  <body>

    <!-- Header -->
    <%- include('partials/header') %>

      <!-- Main -->
      <div class="main-sinUp">

        <form action="/createUser" class="form" method="POST" enctype="multipart/form-data">
          <div class="imput-registro">
            <input type="text" name="nombre" id="nombre" placeholder="Nombres" value="<%= locals.oldBody && oldBody.nombre? oldBody.nombre: "" %>" />
            <% if (locals.errors && errors.nombre) { %>
              <p style="color: red;">
                <%= errors.nombre.msg %>
              </p>
              <% } %>
          </div>
          <div class="imput-registro">
            <input type="text" name="apellido" id="apellido" placeholder="Apellidos" value="<%= locals.oldBody && oldBody.nombre? oldBody.apellido: "" %>" />
            <% if (locals.errors && errors.apellido) { %>
              <p style="color: red;">
                <%= errors.apellido.msg %>
              </p>
              <% } %>
          </div>
          <div class="imput-registro">
            <input type="email" name="email" id="correo" placeholder="Correo electronico" value="<%= locals.oldBody && oldBody.nombre? oldBody.email: "" %>"/>
            <% if (locals.errors && errors.email) { %>
              <p style="color: red;">
                <%= errors.email.msg %>
              </p>
              <% } %>
          </div>
          <div class="imput-registro">
            <input type="password" name="contrasena" id="password" placeholder="Contraseña" />
            <% if (locals.errors && errors.contrasena) { %>
              <p style="color: red;">
                <%= errors.contrasena.msg %>
              </p>
              <% } %>
          </div>
          <div class="imput-registro">
            <input type="password" name="contrasena2" id="password2" placeholder="Confirmar contraseña" />
            <% if (locals.errors && errors.contrasena2) { %>
              <p style="color: red;">
                <%= errors.contrasena2.msg %>
              </p>
              <% } %>
          </div>
          <div class="imput-registro">
            <input type="file" name="avatar" id="avatar" />
            <% if (locals.errors && errors.avatar) { %>
              <p style="color: red;">
                <%= errors.avatar.msg %>
              </p>
              <% } %>
          </div>
          <div class="checkbox-buttons">
            <input class="checkbox" type="checkbox" name="ofertas" id="recibir-ofertas" value="" />
            <label class="checkbox" for="recibir-ofertas">Quiere recibir ofertas</label>
          </div>
          <div class="btn">
            <button type="submit" class="registrar" value="registrar">
              Regístrar
            </button>
          </div>
          <div class="privacidad">
            <p>
              <b>Al registarme acepto las condiciones de uso y la politica de privacidad</b>
            </p>
          </div>
          <div class="linea"></div>
          <div class="ingresar">
            <label>¿Ya tienes cuenta?</label>
            <a href="/singIn"><b>Ingresar</b></a>
          </div>
        </form>
      </div>

      <!-- footer -->
      <%- include('partials/footer') %>

  </body>

</html>