<!DOCTYPE html>
<html lang="en">

<%- include('partials/head')%>

  <body>

    <!-- Header -->
    <%- include('partials/header') %>



      <main class="mainBasketb">

        <section class="new-sectionb">

          <section class="leftb" id="left">

          </section>

          <section class="products-bastekb">

            <h3 class="addedb">Elementos agregados</h3>

            <div id="basket">

            </div>

          </section>

          <button type="submit" class="button-2b">Pagar</button>
        </section>
        <section class="main-section">
          <h1>Te puede interesar</h1>
          <div class="products">
            <% products.forEach(element=> {%>

              <article class="product">
                <a href="/product/<%- element.referencia %>">
                  <img class="product-img" src="/img/products/<%- element.imagen1 %>" alt="">
                  <h3><%- element.name %></h3>
                  <div class="price">
                    <h4>US $<%- element.value %></h4>
                    <button type="submit">Agregar</button>
                  </div>
                </a>
              </article>

              <%}); %>
          </div>


        </section>

      </main>

      <script src="/js/basket/getItems.js"></script>

      <!-- footer -->
      <%- include('partials/footer') %>

  </body>

</html>