<!DOCTYPE html>
<html lang="en">

<%- include('partials/head')%>

  <body>

    <!-- Header -->
    <%- include('partials/header') %>

      <!-- Main -->
      <section class="formulario" style="padding-top: 80px;">
        <form method="POST" action="/product/update/<%- response.id %>?_method=PUT">


          <label>Nombre</label>
          <input type="text" name="nombre" value="<%= response.name%>"><br>
          <% if (locals.errors && errors.nombre) { %>
            <p style="color: red;">
              <%= errors.nombre.msg %>
            </p>
            <% } %>

              <label>Tipo</label>
              <input type="text" name="tipo" value="<%= response.type %>"><br>
              <% if (locals.errors && errors.tipo) { %>
                <p style="color: red;">
                  <%= errors.tipo.msg %>
                </p>
                <% } %>

                  <label>Modelo</label>
                  <input type="text" name="modelo" value="<%= response.model %>"><br>
                  <% if (locals.errors && errors.modelo) { %>
                    <p style="color: red;">
                      <%= errors.modelo.msg %>
                    </p>
                    <% } %>

                      <label>Referencia</label>
                      <input type="text" name="referencia" value="<%= response.referencia %>"><br>
                      <% if (locals.errors && errors.referencia) { %>
                        <p style="color: red;">
                          <%= errors.referencia.msg %>
                        </p>
                        <% } %>

                          <label>Valor</label>
                          <input type="text" name="valor" value="<%= response.value %>"><br>
                          <% if (locals.errors && errors.valor) { %>
                            <p style="color: red;">
                              <%= errors.valor.msg %>
                            </p>
                            <% } %>

                              <label>Descuento</label>
                              <input type="text" name="descuento" value="<%= response.discount %>"><br>
                              <% if (locals.errors && errors.descuento) { %>
                                <p style="color: red;">
                                  <%= errors.descuento.msg %>
                                </p>
                                <% } %>
                                  <label>Descripción</label>
                                  <textarea name="descripcion" value=""><%= response.description %></textarea><br>
                                  <% if (locals.errors && errors.descripcion) { %>
                                    <p style="color: red;">
                                      <%= errors.descripcion.msg %>
                                    </p>
                                    <% } %>



                                      <input type="submit" value="Actualizar">
        </form>
      </section>

      <!-- footer -->
      <%- include('partials/footer') %>

  </body>

</html>