<!DOCTYPE html>
<html lang="en">

<%- include('partials/head')%>

  <body>

    <!-- Header -->
    <%- include('partials/header') %>

      <!-- Main -->
      <section class="mainProdcut">

        <section class="comprar">

          <div class="navigate">
            <span>
              IBike / Bicicletas / <%- response.type %> / <%- response.name %>
            </span>
          </div>

          <div class="btn-comprar-top">

            <% if (userLogged) { %>
              <% if (userLogged.rol.value==0 || userLogged.rol.value==1) { %>
                <button class="btn-top">
                  <a href="/<%- response.referencia %>/update/<%- response.referencia %>">Editar</a>
                </button>

                <%} %>
                  <% } %>

                    <button type="submit" class="btn-top" onclick="addToCart(event, '<%= JSON.stringify(response) %>')">
                     Comprar
                    </button>

          </div>

        </section>

        <section class="product">

          <div class="img">
            <img src="/img/products/<%- response.imagen1 %>" alt="">
            <img src="/img/products/<%- response.imagen2 %>" alt="">
          </div>

          <div class="about">

            <h2><%- response.name %></h2>
            <samp>Ref. No <%- response.referencia %> </samp>
            <samp>$ <%- response.value %></samp>
            <div class="size">

              <article class="btns">
                <div>
                  <button class="btn-size">L</button>
                </div>
                <div>
                  <button class="btn-size">M</button>
                </div>
              </article>
            </div>
            <div class="btn-basket">
              <button type="button" class="btn">Agregar al carrito</button>
            </div>
            <p><%- response.description %></p>
          </div>

        </section>

        <section class="info">

          <h6>Especificaciones técnicas</h6>

          <% specificationsResponse.forEach(element=> {%>

            <article>
              <span><%- element.name %></span>
              <p><%- element.description %></p>
            </article>
            <hr>

            <%}); %>

        </section>

      </section>

      <script src="/js/basket/addItem.js"></script>

      <!-- footer -->
      <%- include('partials/footer') %>

  </body>

</html>