<!DOCTYPE html>
<html lang="en">

<%- include('partials/head')%>

  <body>

    <!-- Header -->
    <%- include('partials/header') %>

      <!-- Main -->
      <section class="mainProdcut">

        <section class="comprar">

          <div class="navigate">
            <span>
              IBike / Bicicletas / <%- product.tipo %> / <%- product.nombre %>
            </span>
          </div>

          <div class="btn-comprar-top">
            <button class="btn-top">
              <a href="/<%- product.referencia %>/update">Editar</a>
            </button>
            <button class="btn-top">
              Comprar
            </button>
          </div>

        </section>

        <section class="product">

          <div class="img">
            <img src="/img/products/<%- product.imagen1 %>" alt="">
            <img src="/img/products/<%- product.imagen2 %>" alt="">
          </div>

          <div class="about">

            <h2><%- product.nombre %></h2>
            <samp>Ref. No <%- product.referencia %> </samp>
            <samp>$ <%- product.valor %></samp>
            <div class="size">
              <span>Size : <%- product.talla %></span>
              <article class="btns">
                <div>
                  <button class="btn-size">L</button>
                </div>
                <div>
                  <button class="btn-size">M</button>
                </div>
              </article>
            </div>
            <div class="btn-basket">
              <button type="button" class="btn">Agregar al carrito</button>
            </div>
            <p><%- product.descripcion %></p>
          </div>

        </section>

        <section class="info">

          <h6>Especificaciones técnicas</h6>
          <article>
            <span>Marco</span>
            <p>
              Marco Specialized A1 Premium Aluminum, eje pasante de 148 mm, tubo de dirección cónico, enrutamiento
              interno de cables Carpeta de asiento Aleación, 38,6 mm</p>
          </article>
          <hr>
          <article>
            <span>Suspensión</span>
            <p>
              Tenedor X-Fusion MIG 27.5, ajuste externo de rebote y compresión, muelle helicoidal, compensación de 46
              mm, 130 mm de recorrido</p>
          </article>
          <hr>
          <article>
            <span>Frenos</span>
            <p>
              Freno frontal
              Nivel SRAM, disco hidráulico, 180/160mm.
              Freno trasero SRAM Level, pinza de 2 pistones, disco hidráulico, 180 mm. Freno frontal Nivel SRAM, disco
              hidráulico, 180/160mm
            </p>
          </article>
          <hr>
        </section>

      </section>

      <!-- footer -->
      <%- include('partials/footer') %>

  </body>

</html>