<!DOCTYPE html>
<html lang="en">

<%- include('partials/head')%>

    <body>

        <!-- Header -->
        <%- include('partials/header') %>

            <main class="mainProfile">

                <section class="profile">

                    <div class="div-img">
                        <img src="/img/users/<%= user.avatar %>" alt="Imagen de usuario">
                    </div>

                    <div>
                        <h4>Bienvenido, <%- user.firstname %> <%- user.lastname %></h4>
                    </div>

                    <div>
                        <p>
                            Aqui puedes revisar tu infomarción de perfil y acualizarla,
                            así como ver el historial de tus pedidos,
                            metodos de pago agregados y gestionar tu contraseña de acceso
                        </p>
                    </div>

                    <div class="options">

                        <article class="sectionOpt">

                            <div class="sectionOpt-main">
                                <span>
                                    Datos personales
                                </span>
                                <i class="fa-sharp fa-solid fa-arrow-down" id="dp"></i>
                            </div>
                            <div class="sectionOpt-form" id="personales">
                                <form class="formProfile">
                                    <article>
                                        <input type="text" name="firstname" value="<%- user.firstname %>" required>
                                    </article>
                                    <article>
                                        <input type="text" name="lastname" value="<%- user.lastname %>" required>
                                    </article>
                                    <article>
                                        <input type="text" name="rol" value="<%- user.rol.description %>" disabled>
                                    </article>
                                    <article>
                                        <input type="email" name="userEmail" value="<%- user.userEmail %>" required>
                                    </article>
                                    <div class="divBtn">
                                        <button class="btn-profile" type="button"> Actualizar </button>
                                    </div>
                                    
                                </form>
                            </div>

                        </article>

                        <article class="sectionOpt">

                            <div class="sectionOpt-main">
                                <span>
                                    Datos de facturación
                                </span>
                                <i class="fa-sharp fa-solid fa-arrow-down" id="df"></i>
                            </div>
                            <div class="sectionOpt-form" id="facturacion">

                            </div>

                        </article>

                        <article class="sectionOpt">

                            <div class="sectionOpt-main">
                                <span>
                                    Historial de pedidos
                                </span>
                                <i class="fa-sharp fa-solid fa-arrow-down" id="hp"></i>
                            </div>
                            <div class="sectionOpt-form" id="pedidos">

                                <ul>
                                </ul>

                            </div>

                        </article>

                    </div>

                </section>

                <section class="mail">

                    <h4>Necesitas ayuda!</h4>

                    <form>

                        <div class="textArea">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5">
                    </textarea>
                        </div>

                        <div class="btn">
                            <button>
                                Envia tus comentarios
                            </button>
                        </div>


                    </form>

                </section>

            </main>



            <script src="/js/profile/profile.js"></script>

            <!-- footer -->
            <%- include('partials/footer') %>

    </body>

</html>